<section class="section">
  <div class="main-image">
    <div class="media-content">
      <div class="content has-text-centered">
        
       <main class="px-3">
          <h1 class="main-title" style="font-family: cursive;">Goo-T</h1>
         
          <%= link_to "今すぐ無料会員登録！", new_user_registration_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-dark" %>
          </p>
      </main>
        
       
         
       
      </div>
    </div>
  </div>
</section>
