<% if user_signed_in? %>
    <%= link_to items_path, class: "navbar-brand" do %>
        <h1 class="title is -4 text-white" style="font-family: cursive;">Goo-T</h1>
    <% end %>
<% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
        <h1 class="title is -4 text-white" style="font-family: cursive;">Goo-T</h1>
    <% end %>
<% end %>